.myBtn{
    border: none;
    outline: none;
    color: white;
    text-align: center;
    background-color: black;
    padding: 5px 0px 5px 0px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}