.myTextArea{
    width: 100%;
    resize:none;
    outline: none;
    color: black;
    background-color:  #f3f3f5;
    border-radius: 12px;
    padding: 15px 0px 0px 15px;
    border: 1px solid #d1d5db;
    margin-top: 10px;
}
.myTextArea:focus{
    border-color: #9ca3af;
}

.myTextArea:focus-visible {
  box-shadow: 0 0 0 3px oklch(0.708 0 0 / 0.5);
  transition: color, box-shadow;
}
 