.card{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.cardCur{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

.card__first-side{
    
    background: linear-gradient(to bottom right, #eff6ff, #e0e7ff);
}
.card__second-side{
    background: linear-gradient(to bottom right, #f0fdf4, #d1fae5);
    position: relative;
}
.card__second-side__btns{
    position: absolute;
    top: 240px;
    display: flex;
    gap: 20px;
}
.card__second-side__btns-elem{
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 5px 10px;
}
.btn-wrong{
    background-color: white;
    
}
.btn-correct{
    background-color: #16a34a;
    color: white;
}
.btn-wrong:hover{
    background-color: #fef2f2;
    border: 1px solid lightcoral;
}.btn-correct:hover{
    background-color: #15803d;
}

@media (max-width:425px) {
    .card{
        width: 400px;
    }   
}