.decks{
    max-width: 100%;
    margin-top: 50px;
}
.decks__wrapper{
    width: 60%;
    margin: 0 auto;
}
.decks__list{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.decks__message{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
}

.decks__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.decks__header-btn{
    margin-top: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.decks__modal__form__text-wrapper{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}
.decks__modal__form__btns{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.decks__modal__form__btns button{
    outline: none;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
}
.dekcs__modal__form__btns-save{
    width: 80%;
    background-color: black;
    color: white;
    border: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.dekcs__modal__form__btns-cancel{
    width: 20%;
    background: white;
    border: 1px solid lightgray;

}


@media (max-width:1440px){
    .decks__list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 20px;
    }
}

@media (max-width:768px){
    .decks__list{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:425px) {
    .decks__wrapper{
        max-width: 425px;
        width: 100%;
        padding: 10px;
    }

    .decks__list{
        margin: 0;
        margin-top: 20px;
    }
}