.decks{
    max-width: 100%;
    margin-top: 50px;
}
.decks__wrapper{
    width: 60%;
    margin: 0 auto;
}
.decks__list{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.decks__message{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
}