.deck{
    max-width: 370px;
    width:100%;
    padding: 20px 15px; 
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding-bottom: 30px;
    position: relative;
}

.deck__img{
    max-width: 340px;
    max-height: 80px;
    height: 100%;
    background-color: blueviolet;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 20px;

}
.deck__descr{
    margin-bottom: 30px;
}

.deck__delete{
    position: absolute;
    top: 20px;
    right: 15px;
    color: red;
    cursor: pointer;
}
.deck__btns{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: auto;
}
.deck__btns button{
    width: 50%;
}

.deck__btns-add{
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    outline: none;
    border-radius:7px ;
}

@media (max-width:1024px) {
    .deck{
        max-width: 300px;
    }

}

@media (max-width:425px) {
    .deck{
        max-width: 400px;
        
    }
}