.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal__content{
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 40vw;
}

@media (max-width:1024px) {
    .modal__content{
        width: 80vw
    }
}

@media (max-width:768px) {
    .modal__content{
        width: 80vw
    }
}

@media (max-width:425px) {
    .modal__content{
        width: 80vw;
    }
}