.deck-cards{
    max-width: 100%;
    margin-top: 50px;
}
.deck-cards__wrapper{
    width: 60%;
    margin: 0 auto;
    border:1px solid red;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.deck-cards__progress{
    width: 300px;
    padding: 20px;
    border:1px solid lightgray;
    border-radius: 20px;
    text-align: center;
}
.deck-cards__progress > p{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;

}
.deck-cards__progress__answers{
    display: flex;
    justify-content: space-between;
}
.deck-cards__propgress__answers-elem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deck-cards__propgress__answers-elem-correct{
    color: green;
    font-weight: bold;
    border: 1px solid green;
    border-radius:50%;
}
.deck-cards__propgress__answers-elem-wrong{
    color: red;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 50%;
}
.deck-cards__cards__wrapper{
    width: 500px;
    border:1px solid black;
}

