.deck-cards{
    max-width: 100%;
    margin-top: 50px;
}
.deck-cards__wrapper{
    width: 60%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.deck-cards__progress{
    width: 300px;
    padding: 20px;
    border:1px solid lightgray;
    border-radius: 20px;
    text-align: center;
}
.deck-cards__progress > p{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;

}
.deck-cards__progress__answers{
    display: flex;
    justify-content: space-between;
}
.deck-cards__propgress__answers-elem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deck-cards__propgress__answers-elem-correct{
    color: green;
    font-weight: bold;
    border: 1px solid green;
    border-radius:50%;
}
.deck-cards__propgress__answers-elem-wrong{
    color: red;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 50%;
}
.deck-cards__cards__wrapper{
    width: 500px;
}
.deck-cards__cards__wrapper{
    text-align: center;
    padding: 20px;
    margin-right: 100px;
}

.deck-cards__cards__wrapper__title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.deck-cards__cards__wrapper__descr{
    color: grey;
}

.deck-cards__result{
    width: 70%;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px 0px;
    border-radius: 20px;
}

.deck-cards__result p{
    font-weight: bold;
    font-size: 20px;
}
.deck-cards__result span{
    color: grey;
    margin-bottom: 10px;
}
.deck-cards__result button{
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius:7px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width:1440px) {
    .deck-cards__cards__wrapper{
        margin-right: 0;
    }
}

@media (max-width:1043px) {
    .deck-cards__wrapper{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:425px) {
    
    .deck-cards__cards__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .deck-cards__result{
        width: 300px;
    }
}